body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    background-color: thistle;
}

main {
    margin-top: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    border-radius: 100px;
    width: 50vw;
    background-color: brown;
}

#inputs input {
    border-radius: 5px;
}

#inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 40%;
    margin-bottom: 20px;
}

#inputs button {
    border-radius: 10px;
    height: 30px;
    width: 200px;
}
